$white: #FFFFFF;
$blue: #01A7FD;
$gray: #1111117A;
$black: #111111;
$blackOpacity: #1111117A;
$lightGray: #F1F1F1;

$mobile: 'max-width: 751px';

$secondFlatBtnHover: #6E41E229;
$primaryHover: #0F79AF;
$primaryActive: #59C79F;

$errorBg: #F9E3E3;
$errorText: #DB524E;
$successBg: #CBECD9;
$gradient: rgba(51, 51, 51, 0.04), 0px 4px 56px rgba(51, 51, 51, 0.16);
